

.container6 {
  font-family: 'Arial', sans-serif;
 
  width: 900px;
  padding: 1rem 5rem;
  margin: auto;
  color: #343a40;
  text-align: center;
  flex-direction: column;
  /* Cor de fundo suave */
}



.blog2{
  padding: 1rem 4rem;
  flex-direction: column;
}

 .fotoprincipal {
  width: 550px;
  padding-top: 0.5rem;
 
}

h2 {
  margin-top: 0;
  padding-top: 0;
   font-size: 1.3rem;
}

p {
  font-size: 1.11rem;
     line-height: 1.8; 
     text-align: left;
}


.logo2 {
  padding: 1rem;
  width: 300px;
  margin-bottom: 0;
}
